body {
    color: #DDD;
    font-family: 'Segoe UI', '微软雅黑', 'Microsoft JhengHei', Tahoma, "Helvetica Neue", Arial, Geneva, Verdana, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    background-color: #222;
    padding: 0;
    margin: 0;
}
a, a:visited {
    color: #6DF;
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    color: #9EF;
    text-decoration: underline;
}
a:active {
    color: #8CE;
    text-decoration: underline;
}
code {
    font-family: "Cascadia Code", "Consolas", "Segoe UI", "Microsoft Yahei", "Microsoft JhengHei", "Tahoma", "Helvetica Neue", "Arial", "Geneva", "Verdana", sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}
body > header > section, body > section > section, body > footer > section {
    width: 1000px;
    margin: 0 auto;
    box-sizing: content-box;
    position: relative;
}
body > section > section a, body > section > section a:visited {
    transition: 0.4s;
}
body > section > section a:active, body > section > section a:hover {
    transition: 0.1s;
}

/* Header */
body > header:first-child {
    height: 60px;
    background-color: #333;
    background-image: url(../images/bg/title.jpg);
    background-position: center;
}
body > header:first-child > section:first-child {
    width: 1000px;
    height: 60px;
    line-height: 60px;
    padding: 0;
    margin: 0 auto;
}
body > header:first-child > section:first-child > h1 {
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    height: 60px;
    line-height: 60px;
    padding: 0;
    margin: 0 100px 0 0;
    display: inline-block;
}
body > header:first-child > section:first-child > h1 > a:first-child > strong:first-child + span {
    font-weight: lighter;
}
body > header:first-child > section:first-child > h1 + ul {
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    height: 60px;
    line-height: 60px;
    padding: 0;
    margin: 0;
    display: inline-block;
    list-style: none;
}
body > header:first-child > section:first-child > h1 + ul > li {
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    height: 60px;
    line-height: 60px;
    padding: 0;
    margin: 0 40px 0 0;
    display: inline-block;
    list-style: none;
}
body > header:first-child > section:first-child a,
body > header:first-child > section:first-child a:visited {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    transition: 0.6s;
    text-shadow: rgba(0, 0, 0, 0.7) 0 0 2px;
}
body > header:first-child > section:first-child > h1 + ul > li.state-sel > a,
body > header:first-child > section:first-child > h1 + ul > li.state-sel > a:visited {
    color: rgba(255, 240, 160, 0.8);
    text-shadow: rgba(0, 0, 0, 0.9) 0 0 10px;
}
body > header:first-child > section:first-child a:hover {
    color: rgba(64, 192, 255, 1);
    text-decoration: underline;
    transition: 0.1s;
}
body > header:first-child > section:first-child a:active {
    color: rgba(64, 192, 255, 0.7);
    text-decoration: none;
    transition: 0.1s;
}
body > header:first-child + header {
    height: 80px;
}

/* Footer */
body > section + footer {
    height: 340px;
    margin: 0;
    background-color: #333;
    background-image: url(../images/bg/bottom.jpg);
    background-position: center;
}

/* Body */
body > section > section,
body > section > h1,
body > section > h2,
body > section > h3 {
    font-weight: normal;
    width: 1000px;
    padding: 0;
    margin: 20px auto;
    position: relative;
}
body > section > h1, body > section > section > h1 {
    font-size: 24px;
    line-height: 32px;
}
body > section > h2, body > section > section > h2 {
    font-size: 20px;
    line-height: 28px;
}
body > section > h3, body > section > section > h3 {
    font-size: 18px;
    line-height: 24px;
}
body > section > h3 {
    font-size: 16px;
    font-weight: bolder;
    font-style: normal;
    line-height: 30px;
    margin: 0;
    cursor: default;
}
body > section > h3 > svg, body > section > h3 > span, body > section > h3 > a {
    vertical-align: middle;
}
body > section > ul, body > section > ul > li {
    background-color: transparent;
}
