body {
    color: #EEE;
    font-family: "Segoe UI", "Microsoft Yahei", "Microsoft JhengHei", "Tahoma", "Helvetica Neue", "Arial", "Geneva", "Verdana", sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    background-color: #222;
    min-height: 1000px;
    padding: 0;
    margin: 0;
}
a, a:visited {
    color: #3AC;
    text-decoration: none;
}
a:hover {
    color: #7EF;
    text-decoration: underline;
    cursor: pointer;
}
code {
    font-family: "Cascadia Code", "Consolas", "Segoe UI", "Microsoft Yahei", "Microsoft JhengHei", "Tahoma", "Helvetica Neue", "Arial", "Geneva", "Verdana", sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}
body > header {
    height: 39px;
    background-image: linear-gradient(to bottom, rgba(51, 51, 51, 0.8) 70%, rgba(47, 55, 68, 0.8));
    border-bottom: 1px solid rgb(68, 68, 68, 0.8);
    padding: 0;
    margin: 0;
    backdrop-filter: blur(4px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
body > header > section {
    width: 100%;
    max-width: 1000px;
    padding: 0;
    margin: 0 auto;
    position: relative;
    display: flex;
}
body > header > section > h1:first-child {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    line-height: 39px;
    width: 160px;
    height: 39px;
    padding: 0 0 0 10px;
    margin: 0;
    display: block;
}
body > header > section > h1:first-child > a, body > header > section > h1:first-child > a:visited {
    color: #EEE;
}
body > header > section > h1:first-child > a:hover {
    color: #7EF;
}
body > header > section > ul, body > header > section > ul > li {
    height: 40px;
    padding: 0;
    margin: 0;
    list-style: none;
}
body > header > section > ul {
    display: flex;
}
body > header > section > ul > li {
    display: block;
}
body > header > section > ul > li > a, body > header > section > ul > li > a:visited {
    color: #EEE;
    line-height: 38px;
    text-align: center;
    background-color: transparent;
    padding: 0 30px;
    margin: 1px 0 0 0;
    border-color: transparent;
    border-width: 1px 1px 0 1px;
    border-style: solid solid none solid;
    display: inline-block;
}
body > header > section > ul > li > a:hover {
    color: #7EF;
    text-decoration: none;
}
body > header > section > ul > li.state-selected-t > a, body > header > section > ul > li.state-selected-t > a:visited {
    background-color: #222;
    border-color: rgb(68, 68, 68, 0.8);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
body > header + section {
    padding: 40px 0 0 0;
}
body > section {
    width: 100%;
    max-width: 1000px;
    padding: 0;
    margin: 0 auto;
}
body > section > section,
body > section > h1,
body > section > h2,
body > section > h3 {
    font-weight: normal;
    width: 1000px;
    padding: 0 20px;
    margin: 0;
    position: relative;
}
body > section > h1, body > section > section > h1 {
    font-size: 24px;
    line-height: 32px;
}
body > section > h2, body > section > section > h2 {
    font-size: 20px;
    line-height: 28px;
}
body > section > h3, body > section > section > h3 {
    font-size: 18px;
    line-height: 24px;
}
body > section > h3 {
    font-size: 16px;
    font-weight: bolder;
    font-style: normal;
    line-height: 30px;
    margin: 0;
    cursor: default;
}
body > section > h3 > svg, body > section > h3 > span, body > section > h3 > a {
    vertical-align: middle;
}
body > section > ul, body > section > ul > li {
    background-color: transparent;
}

#blog_content > h1 {
    font-size: 36px;
    font-weight: lighter;
    font-style: normal;
    line-height: 40px;
    width: 100%;
    padding: 0;
    margin: 20px 0;
    position: relative;
    float: none;
    cursor: default;
}
#blog_content > ul, #blog_content > ul > li {
    font-size: 16px;
    position: relative;
    list-style: none;
}
#blog_content > ul {
    padding: 14px 19px;
    margin: 0;
    border: 1px solid #666;
    border-radius: 4px;
    float: none;
}
#blog_content > ul > li {
    font-size: 16px;
    padding: 0;
    margin: 8px 0;
}
#blog_content > section {
    font-size: 16px;
    max-width: 600px;
}
#blog_content > section image {
    max-width: 600px;
}
#blog_content > section > pre {
    background-color: rgba(128, 128, 128, 0.1);
    padding: 10px;
    overflow-x: auto;
}
#blog_content > section + h1 {
    font-size: 18px;
    font-weight: bolder;
    line-height: 40px;
    width: auto;
    height: 40px;
    margin: 0;
    position: absolute;
    top: 10px;
    right: 0;
    left: 620px;
}
#blog_content > section + h1 + ul,
#blog_content > section + h1 + ul + h2 + ul {
    width: auto;
    padding: 0;
    border: 0 none transparent;
    border-radius: 0;
    position: absolute;
    top: 50px;
    right: 0;
    left: 620px;
}
#blog_content > section + h1 + ul > li,
#blog_content > section + h1 + ul + h2 + ul > li {
    position: relative;
}
