#blog_content {
    font-weight: normal;
    width: 1000px;
    min-height: 600px;
    padding: 0;
    margin: 20px auto 60px auto;
    position: relative;
}
#blog_content > h1 {
    color: #BDD;
    font-size: 36px;
    font-weight: lighter;
    font-style: normal;
    line-height: 40px;
    width: 100%;
    padding: 0;
    margin: 40px 0;
    position: relative;
    float: none;
    cursor: default;
}
#blog_content > ul, #blog_content > ul > li {
    font-size: 16px;
    position: relative;
    list-style: none;
}
#blog_content > ul {
    padding: 14px 19px;
    margin: 0;
    border: 1px solid #666;
    border-radius: 4px;
    float: none;
}
#blog_content > ul > li {
    font-size: 16px;
    padding: 0;
    margin: 8px 0;
}
#blog_content > section {
    font-size: 16px;
    max-width: 800px;
    margin: 20px 0;
}
#blog_content > section image {
    max-width: 640px;
}
#blog_content > section > pre {
    background-color: rgba(128, 128, 128, 0.1);
    padding: 10px;
    border-radius: 4px;
    overflow-x: auto;
}
#blog_content > section + h1 {
    color: #CCC;
    font-size: 18px;
    font-weight: bolder;
    line-height: 40px;
    width: auto;
    height: 40px;
    margin: 0;
    position: absolute;
    top: 10px;
    right: 0;
    left: 820px;
}
#blog_content > section + h1 + ul,
#blog_content > section + h1 + ul + h2 + ul {
    width: auto;
    padding: 0;
    border: 0 none transparent;
    border-radius: 0;
    position: absolute;
    top: 70px;
    right: 0;
    left: 820px;
}
#blog_content > section + h1 + ul > li,
#blog_content > section + h1 + ul + h2 + ul > li {
    position: relative;
}
